
@import '../../sass/mixins';
@import '../../sass/variables';


.grid__layout{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2rem 2rem 5rem 2rem;
    height: calc(100vh - 80px);

    @include respond-to('phone') {
        grid-template-columns: 1fr;
        grid-template-rows:50% 50%;
        text-align: center;
        padding: 0;
    }
}